/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Quattrocento+Sans&display=swap');

/* Most used variables, e.g: colors, margins.. */
:root {
    /* Colors */
    --primary-color: #fff;
    --secondary-color: #000;
    --text-on-primary-color: #000;
    --text-on-secondary-color: #fff;
    --text-highlight-color: #c7c7c7;

    /* Margins */
    --right-margin: 20px;
    --left-margin: 20px;
    --bottom-margin: 20px;


    /* Padding */
    --menu-highlight-padding: 20px;
    --left-padding: 20px;
    --text-block-padding: 20%;
    --button-padding: 10px;
    --footer-padding: 20px;

    /* Others */
    --header-spacing: 2px;
    --line-height: 20px;
    --highlight-border: 1px solid var(--text-highlight-color);
    --image-height: 400px;
}

/* Overall styling */
* {
    box-sizing: border-box;
}

/* General body styling */
body {
    margin: 0;
    font-family: 'Mulish', Verdana, sans-serif;
    font-weight: 300;
    color: var(--text-on-primary-color);
}

/* Header */
header {
    width: 100%;
    position: absolute;
    z-index: 1;
    background: var(--secondary-color);
    color: var(--text-on-secondary-color);
    top: 0;
    left: 0;
    right: 0;
}


header a {
    color: inherit;
}


nav a {
    z-index: 2;
}

nav a:hover {
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
    padding: var(--menu-highlight-padding);
}

.active {
    color: var(--text-highlight-color);
}

/* Headings*/
h1,
h2 {
    font-family: 'Quattrocento Sans', sans-serif;
    letter-spacing: var(--header-spacing);
}

/* Logo */
#logo {
    font-family: 'Quattrocento Sans', sans-serif;
    letter-spacing: var(--header-spacing);
    float: left;
    line-height: var(--line-height);
    margin-left: var(--left-margin);
}

#logo:hover {
    color: var(--primary-color);
}

/* Menus */
#top-menu {
    letter-spacing: var(--header-spacing);
    float: right;
    line-height: var(--line-height);
    margin-right: var(--right-margin);
}

#top-menu li {
    float: left;
    display: inline;
    list-style-type: none;
    margin-right: var(--right-margin);
}


#top-menu a {
    text-decoration: none;
}

/* Cover Images */

#home-cover-image {
    background-image: url("../images/minimal_clean_workspace_bg.jpg");
    width: 100%;
    background-position: center;
    height: var(--image-height);
    position: sticky;
    background-size: cover;
}

#books-cover-image {
    background-image: url("../images/books_bg.jpg");
    width: 100%;
    background-position: center;
    height: var(--image-height);
    position: sticky;
    background-size: cover;
}

#about-cover-image {
    background-image: url("../images/computer_cup_bg.jpg");
    width: 100%;
    background-position: center;
    height: var(--image-height);
    position: sticky;
    background-size: cover;
}

#guideline-cover-image {
    background-image: url("../images/notebook_pen_and_flower.jpg");
    width: 100%;
    background-position: center;
    height: var(--image-height);
    position: sticky;
    background-size: cover;
}

#acquiring-cover-image {
    background-image: url("../images/clothes_pack.jpg");
    width: 100%;
    background-position: center;
    height: var(--image-height);
    position: sticky;
    background-size: cover;
}

/* Definition Quote */
.quote {
    text-align: center;
    font-size: 250%;
}

.quote::before {
    content: "\201C";
    font-weight: bold;
    font-size: 250%;
}

.credit {
    text-align: center;
    font-size: small;
}

/* Cards */
.card {
    position: relative;
    width: 50%;
    border: var(--highlight-border);
}

.right-side {
    float: right;
}

.left-side {
    float: left;
}

.card-image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .7s ease;
}

.card:hover .overlay {
    height: 100%;
    right: 0;
}

.card-text {
    color: var(--text-on-secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

.card h2 {
    text-align: center;
}

#card-container {
    overflow: hidden;
}

/* Article Outline */
.article-outline {
    border: var(--highlight-border);
    margin: 0;
    overflow: hidden;
}

.article-image {
    width: 50%;
    height: var(--image-height);
    float: left;
    background-size: cover;
    background-position: center;
}

.article-brief-text {
    width: 50%;
    float: right;
    padding-left: var(--left-padding);
    font-size: 120%;
}

.article-brief-text a {
    text-decoration: none;
    color: inherit;
}

.article-brief-text p::after {
    content: "...";
    font-weight: bold;
}

button {
    background-color: var(--secondary-color);
    color: var(--text-on-secondary-color);
    border-radius: 0;
    border: var(--highlight-border);
    padding: var(--button-padding);
}

button i {
    color: var(--secondary-color);
}

button:hover {
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
}

/* Special Article Style */
#guideline-article-image {
    background-image: url("../images/notebook_pen_and_flower.jpg");
}

#acquiring-article-image {
    background-image: url("../images/clothes_pack.jpg");
}

/* Footer */
footer {
    overflow: hidden;
    width: 100%;
    background: var(--secondary-color);
    color: var(--text-on-secondary-color);
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--footer-padding);
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer li {
    list-style-type: none;
}

#left-side-footer {
    width: 60%;
    float: left;
    margin: 0;
}

#social-links,
#footer-logo,
#bottom-menu {
    float: left;
    line-height: var(--line-height);
    margin: 0 0;
}

#left-side-footer li {
    display: inline;
}

#bottom-menu {
    float: right;
}

#bottom-menu li {
    display: inline;
    margin-right: var(--right-margin);
}

#bottom-menu a:hover,
#social-links a:hover {
    color: var(--text-highlight-color);
}

/* Article Page */
#article-text {
    padding-left: var(--text-block-padding);
    padding-right: var(--text-block-padding);
    font-size: 120%;
}

#article-text h2 {
    text-align: center;
}

#article-text p {
    text-align: justify;
}

/* Books Page */
#book-recommendations {
    padding-left: var(--text-block-padding);
    padding-right: var(--text-block-padding);
}
#book-recommendations h2{
    text-align: center;
}

#book-recommendations li{
    margin-bottom: var(--bottom-margin);
}
#book-recommendations span, #book-recommendations span {
    text-align: left;
}

.book-name {
    font-size: 120%;
}

.book-name a {
    color: inherit;
}

.author::before {
    content: "By: ";
    font-weight: bold;
}

/* About Page */
#about-text {
    text-align: center;
    padding-left: var(--text-block-padding);
    padding-right: var(--text-block-padding);
}

#about-text p {
    text-align: justify;
}

/* Media Queries */